nav#page-navi
  ul
    li
      a(href="/legal/") 法務
      include _pageNaviInner
    li
      a(href="/tax/") 税務
      include _pageNaviInner2
    li
      a(href="/labor/") 労務
      include _pageNaviInner
    li
      a(href="/skill/") スキル
      include _pageNaviInner2
    li
      a(href="/business/") ビジネス
      include _pageNaviInner
    li
      a(href="/knowledge/") 基礎知識
      include _pageNaviInner2
    li
      a(href="/column/") 専門家コラム
      include _pageNaviInner
