nav#page-navi
  ul
    li
      a(href="/houmu/") 法務
      include _pageNaviInner
    li
      a(href="/zeimu/") 税務
      include _pageNaviInner2
    li
      a(href="/roumu/") 労務
      include _pageNaviInner
    li
      a(href="/skill/") スキル
      include _pageNaviInner2
    li
      a(href="/business/") ビジネス
      include _pageNaviInner
    li
      a(href="/kisochishiki/") 基礎知識
      include _pageNaviInner2
    li
      a(href="/senmonkacolumn/") 専門家コラム
      include _pageNaviInner
