nav#page-navi
  ul
    li
      a(href="/articles/legal/") 法務
      include _pageNaviInner
    li
      a(href="/articles/tax/") 税務
      include _pageNaviInner2
    li
      a(href="/articles/labor/") 労務
      include _pageNaviInner
    li
      a(href="/articles/skill/") スキル
      include _pageNaviInner2
    li
      a(href="/articles/business/") ビジネス
      include _pageNaviInner
    li
      a(href="/articles/knowledge/") 基礎知識
      include _pageNaviInner2
    li
      a(href="/articles/column/") 専門家コラム
      include _pageNaviInner
