.page-navi-inner-wrap
  .page-navi-inner
    .page-navi-inner-recommend
      ul
        li
          a(href="/article/01/06.html")
            img(src="/images/common/230x173_06.jpg", alt="")
            span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
        li
          a(href="/article/01/04.html")
            img(src="/images/common/230x173_04.jpg", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="/article/02/03.html")
            img(src="/images/common/230x173_03.jpg", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="/article/02/01.html")
            img(src="/images/common/230x173_01.jpg", alt="")
            span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
    .page-navi-inner-new
      ul
        li
          a(href="/article/03/05.html")
            img(src="/images/common/100x100_05.jpg", alt="")
            span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
        li
          a(href="/article/03/02.html")
            img(src="/images/common/100x100_02.jpg", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
