extends ../index

block mainContents
  .main-contents
    article#article.article
      h2.article-title お探しのページが見つかりませんでした
      section.text
        | アドレスが正しく入力されていてもぺージが表示されない場合は、該当ページの公開期間が終了している可能性がございます。
        br
        | 恐れ入りますが、再度URLをお確かめください。
        br
        | 404 Page Not Found.