doctype html
html(lang="ja")
  head
    include inc/_meta
    // OGP
    // /OGP
    title 実務家Link
    //- link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    link(rel="stylesheet" href="/styles/style.css")
  body#top-page
    include inc/_header
    #contents.clearfix
      // メインコンテンツ
      .main-contents
        include inc/index/_main
      // /メインコンテンツ
      // サイドコンテンツ
      .side-contents
        include inc/_side
    // /contents
    include inc/_footer
    script(type="text/javascript", src="/js/script.js")
