doctype html
html(lang="ja")
  head
    include inc/_meta
    // OGP
    // /OGP
    title
      if data.post
        | #{data.post.title}｜
        if data.post.categories.length
          if data.post.categories[0].japanese
            | #{data.post.categories[0].japanese}｜実務家Link
          else
            | #{data.post.categories[0].name}｜実務家Link
        else
          |｜実務家Link
      else
        | このページは存在しません。｜実務家Link
    //- link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    link(rel="stylesheet" href="/styles/style.css")
  body
    // ヘッダー
    include inc/_header
    // /ヘッダー
    // パンくず
    #breadCrumb
      ul
        li
          a(href="") ホーム
        li
          a(href="") 法務
        li.current
          span 「ランニング命！」が挫折の根本原因？
    #contents.clearfix
      // メインコンテンツ
      .main-contents
        include inc/article/_main
      // サイドコンテンツ
      .side-contents
        include inc/_side
    // /contents
    include inc/_footer
    script(type="text/javascript", src="/js/script.js")
