main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu 法務
      span.date 2017年12月2日
      .sns-area
    h2.article-title
      span.sub-title この起業家精神が活路を拓く
      | 中小企業は規模より〝質〟で勝負！
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 経営ジャーナリスト 疋田文明
          span.office （経営ジャーナリスト・元気塾主宰）
        p.writer-profile
          | 1950年奈良県に生まれる。企業経営者を対象とした各種セミナーの企画・運営会社、新しい経営者像の会（理事長・石山四郎）を経て、1979年に「竹村健一未来経営研究会」を企画設立し事務局長に就任。1986年に独立後はフリーランスのライターとして、企業経営、地域活性化の現場を歩き、取材を重ねる。現在は『元気塾』（経営者を対象）と『実践経営塾』（これから経営を担う人が対象）を主宰し、元気印の企業が増えることを願って活動中。
        p.writer-website
          a(href="http://www.hikita10.jp/profile.php" target="_blank") 疋田文明Official Site
    .main-image
      p
        img(src="/images/common/730x425_01.jpg", alt="")
    section.text
      h3 大きいことはいいことか？
      p
        | 中小企業は弱者ではないーー。
      p
        | これは、筆者の30年来の持論だが、いまなお変わることはない。確かに、売上の総額、利益の総額では、大企業に敵わない。しかし、１人当たりの利益、伸び率等々の指標では、中小企業は大企業に勝てるものなのだ。
      .clearfix
        figure(class="figure-half figure-left")
          img(src="/images/common/730x425_02.jpg" alt="")
        p
          | いちばんの例が、小売業だ。小売業ほど大型店が有利だとされるが、本当にそうなのか。地方の百貨店はいうに及ばず、一世を風靡した三越然り、そごう然りで、惨憺たるものと言わざるを得ない。
        p 　大手ナショナルチェーンの量販店も苦しんでいる。セブン＆アイ・グループ、イオングループは、グループとしては伸びているが、両者のメガストア部門は、低迷するばかりで見る影もない。
        p では、小売業で好調な分野はどこなのか。それはいうまでもなく、コンビニエンスストアだ。
        p コンビニの平均売り場面積は30坪で、大型店とは程遠い存在だが、消費者の支持を得て伸びている。セブン＆アイ・グループの場合、利益の４分の３はセブン−イレブンが稼ぎ出している。
        p 「ヨーカ堂グループの資金力があったからこそ、セブン−イレブンは成長したのではないか」
        p 　こう思われるかもしれないが、それは違う。親会社の反対を押し切って鈴木敏文が始めたことはよく知られているし、問屋ルートも全く新しく開拓したものだった。
        p 北海道のセイコーマートといった地場の中小企業からスタートしたコンビニの成功事例もある。
        p 
          | いまひとつ、小売業ではしまむらという素晴らしいお手本がある。
          br
          | しまむらは、今でこそ北海道から沖縄石垣島までに店舗展開する大企業だが、もともとは埼玉の小さな呉服屋だ。同社の平均売り場面積は1000平方メートルと、決して大型店ではない。
          br
          | 規模の大きさを武器に顧客の支持を得たわけではないのだ。
    .pager
      ul
        li.current
          a(href="01.html") 1
        li
          a(href="01_02.html") 2
        li
          a(href="01_03.html") 3
        li.next
          a(href="01_02.html") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
