main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu 基礎知識
      span.date 2017年11月29日
      .sns-area
    h2.article-title
      span.sub-title ハンコの基礎知識
      | 押印と捺印、記名と署名はどう違う？
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 社会保険労務士 ○○○○
          span.office （△△△△△△所属）
        p.writer-profile
          | 著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール
        p.writer-website
          a(href="" target="_blank") 著者サイトへのリンク
    .main-image
      p
        img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
    section.text
      h3 「捺印」と「押印」
      p
        | どちらもハンコを押すことを指しますが、「押印」はやや改まった感じ、「捺印」のほうがしっくりくるという人もおられるのではないでしょうか。
      p
        | そもそも戦前までは、印を押すことを「捺印」といっていました。ところが、昭和21（1946）年に制定された当用漢字表に「捺」という漢字が含まれなかったため、「押印」という言葉が作られたという経緯があります。
      .clearfix
        figure(class="figure-half figure-left")
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure01" alt="")
        p
          | その後、当用漢字表に代わって制定されたのが常用漢字表です。現行の常用漢字表は平成22（2010）年に内閣府告示第２号により告示されましたが、これにも「捺」は含まれていません。
          br
          | そのため、法令においては「捺印」は用いず、「押印」を使うこととされています。
    section.text
      h3 「署名捺印」と「記名押印」
      p
        | それでは、「署名捺印」と「記名押印」では意味が違ってくるのでしょうか。
        br
        | 「捺印」と「押印」は同じですから、「署名」と「記名」が問題となります。
      figure(class="figure-full")
        img(src="http://via.placeholder.com/1200x700/bbb/fff/?text=figure02" alt="")
        figcaption
          | 上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。
      p
        img(src="" alt="" class="image image-left")
        | ちなみに、「署名捺印」は「署名押印」と書くこともあります。「記名押印」もまた然り。本記事では、それぞれ「署名捺印」「記名押印」と表記することにします。
      p
        | さて、「署名」とは本人が自筆で氏名を書くことです。一方の「記名」は、ワープロやゴム印など自筆以外の方法で氏名を記すことをいいます。誰かに手書きで代筆してもらったときも、「記名」となります。
      p
        | （表にしてください）
        |  署名　当事者本人が自筆で氏名を書いたもの
        |  記名　印刷やゴム印等、あるいは他人が当事者に代わって氏名を書いたもの
      p 契約書を交わす際には、当事者が署名捺印あるいは記名押印することが一般的です。このとき、当事者の意志で結ばれたものであれば、署名であろうが記名あろうが、その契約は有効です。
      p ただし、法的な効力、証拠能力の高さという観点からみると、本人の自署である「署名」と「記名」とでは大きく違ってきます。
      p
        | （表にしてください）
        | ◆証拠能力の高い順
        | ①　署名捺印
        | ②　署名のみ
        | ③　記名押印
        | ④　記名のみ
      p
        | 一般に外国では署名だけでよく、ハンコを押す習慣はありません。しかし、日本では署名よりも「印章が押された文書」を重く見る傾向が根強いため、「署名のみ」よりも「署名捺印」した文書のほうが証拠能力が高くみなされるのです。
      p
        | 同じような理由から、「記名押印」であっても法人の代表者印（法務局へ実印登録された印）が押されたものは、「署名捺印」とほぼ同等とみなされます。
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
