main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu ビジネス
      span.date 2017年11月27日
      .sns-area
    h2.article-title
      span.sub-title 地名を歩く
      | 色がつく地名の近くに金銀銅山あり!?
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 雑学家 古川 愛哲（ふるかわ あいてつ）
        p.writer-profile
          | 1949年、神奈川県に生まれる。日本大学芸術学部映画学科で映画理論を専攻。放送作家を経て、『やじうま大百科』(角川文庫)で雑学家に。「万年書生」と称し、東西の歴史や民俗学をはじめとする人文科学から科学技術史まで、幅広い好奇心を持ちながら「人間とは何か」を追求。著書に『「散歩学」のすすめ』（中公新書クラレ）、『江戸の歴史は大正時代にねじ曲げられた サムライと庶民365日の真実』（講談社プラスα新書）などがある。
        p.writer-website
          a(href="" target="_blank") 著者サイトへのリンク
    .main-image
      p
        img(src="/images/top/slides_01.jpg", alt="")
    section.text
      h3 「黒」「青」「赤」「白」がつく地名に注目
      p
        | 昔の鉱山師（山師）は、その山に鉱物があるかどうか調べるには、「山色」というのを見た。その代表的な色が黒だ。
        br
        | 日本最初の銅山は埼玉県秩父市「黒谷」。この地の金山彦を祀る聖神社の旧記に曰く、
      p
        | 「金銀銅鉄、生存の地は皆黒色なり、ゆえにその里を呼んで黒谷村という」
      p
        | 他に「黒川」「黒石」「黒滝」の金銀銅山がある。
      p
        | ただし、山色はカラフルで、中山道の不破関（ふわのせき）に近い「青墓」（岐阜県）は石灰や大理石ばかりだが、隣には「金生山」があって銅の精錬が盛んだった。
        br
        | 鈴鹿山脈の麓、青川谷には銅山。静岡県伊豆半島南伊豆町の「青の川」沿い「青市」には金鉱。青は「阿保」とも書いて埼玉県児玉郡の「阿保」の付近には金さご神社があって銅や鉄の精錬をしていた。
        br
        | 金よりも銅の含有量が多いと、川に銅が流れ出て水が青くなるのだ。
      .clearfix
        figure(class="figure-half figure-left")
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure01" alt="")
        p
          | 「赤石」山系は愛媛県にあるが、これは別子銅山の大鉱床。他に前述の青墓に隣接する金生山は麓に「赤坂」の宿がある。「赤滝」「赤倉」「赤バチ」と銅鉱山の名前に赤が多いのは、銅がアカガネと呼ばれるせいか。
        p
          | 「白滝」「白髪山」「白銀」と「白」のつく地名も金銀銅を産出する。それだけではない。摂津源氏が砂金を採取して財力をつけ、豊臣秀吉のドル箱でもあった大阪府豊能郡のただ銀山は妙見山中にあるが、そのど真ん中には「地黄」の地名。あまりにも多色で、色の名だけでは「山師」呼ばわりされても仕方がない。
    section.text
      h3 川が蛇行する「逆川」「蛇川」は鉱物資源が豊富
      p
        | 地形的に言えば、大河の上流には必ず一つや二つ金山がある。あるいは各地の「逆川」の名前の川も鉱脈が豊富である。
      p 
      figure(class="figure-full")
        img(src="http://via.placeholder.com/1200x700/bbb/fff/?text=figure02" alt="")
        figcaption
          | 上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。
      p
        img(src="" alt="" class="image image-left")
        | 「逆川」は川が逆流しているように見えるほど蛇行している川である。その付近に金銀山が多いのは、鉱物資源は生成要素の異なる岩質の接触地帯に存在するからで、「逆川村」や「サカサオチバ川」と地名はいろいろある。
        br
        | その蛇行ぶりから「蛇川」とか「蛇沢」とか呼ばれることもある。
      p
        | これらの川の付近は鉱脈地帯であることは間違いない。と同時に、両者とも断層地帯なので地震の危険もある。
      p
        | 地名よりも、もっと確実な名前がある。それは各地の山の名前に「金峰山」がついていれば、間違いなく金を埋蔵している山。
      p
        | 古代から「仏は土に隠れている」と考える修験者たちが各地の山を歩いて精査済みで、隠れていた仏を見つけると「金峰山」と名付け、そこに姿を現した金を蔵王権現として祀っている。他に「金鶏山」「妙見」「菩薩」など仏の名のつく山は多く黄金（仏）が埋まっていた山で、鉱山が残っていたりする。
      p
        | 「仏はキラキラし」という言葉があるが、仏教徒にとって金色に輝いている金の埋まった金山が必要なのは当然と言えばトーゼン。その黄金で遣唐使船を仕立てたという記録もある。
      p
        | でも、なんだか「地獄の沙汰も金（きん）次第」みたいな…。
        br
        | 「南無観世音お札！」合掌。
      p
        | ◆色や形状、名前が示す「金の産地」
        | 黒谷、黒川、黒石、黒滝
        | 青墓、青川、青市、阿保
        | 赤石、赤滝、赤倉、赤バチ
        | 白滝、白髪山、白銀
        | 逆川、蛇川、蛇沢
        | 金峰山、金鶏山、妙見、菩薩
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
