main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu 基礎知識
      span.date 2017年11月30日
      .sns-area
    h2.article-title
      span.sub-title ハンコの基礎知識
      | 印鑑、印章、印影…それぞれの意味は？
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 編集部
        p.writer-profile
          | 著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール
        p.writer-website
          a(href="" target="_blank") 著者サイトへのリンク
    .main-image
      p
        img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
    section.text
      h3 印鑑とハンコ、どちらが正式？
      p
        | 「印鑑をください」
        br
        | 「ハンコをください」
      p
        | 書類等に判をもらうときなど、どちらも日常的によく使うフレーズですね。でも、じつは「印鑑」はハンコ自体を示す言葉ではありません。
        br
        | 実印や銀行印のように、あらかじめ役所等に届け出てあるハンコの“印影”のことを「印鑑」というのです。
      p
        | ハンコの正式名称は「印章」といいます。ですが「印章を押してください」といわれても、かえって戸惑う人のほうが多いかもしれません。
      p
        |（表にしてください）
        |  印章　木や象牙、プラスチック製樹脂などに特定の文字が刻まれたもの。「ハンコ」とも呼ばれる
        |  印鑑　官公庁や銀行などにあらかじめ届け出ておく「印影」のことを指す
        |  印影　印章によって押されたハンの跡
        |  実印　市区役所等に印鑑登録の申請をして受け付けられ、登録されている印章のこと
        |  銀行印　口座を作ったときなどに銀行に届け出た印章のこと
        |  認印　印鑑登録がされていない印章。「ハンコ」というと、認印をイメージする人が多いと思われる
      .clearfix
        figure(class="figure-half figure-left")
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure01" alt="")
        p
          | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
    section.text
      h3 古くて新しいハンコの歴史
      p
        | 日本でハンコが使われるようになったのは奈良時代ともいわれていますが、一般庶民が使うようになったのは明治になってからのことです。
      figure(class="figure-full")
        img(src="http://via.placeholder.com/1200x700/bbb/fff/?text=figure02" alt="")
        figcaption
          | 上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。
      p
        img(src="" alt="" class="image image-left")
        | 印鑑証明事務が制度として始められたのが明治４（1871）年。明治６（1873）年には、実印が捺されていない公文書等は裁判において認められない、という太政官布告が発せられ、それ以降、ハンコは広く私たちの生活に普及していきました。
      p
        | 最近では100円ショップなどで手軽に買うことができ、人気キャラクターなどをあしらったオリジナルデザインも登場しています。
      p
        | 実用性だけでなく、お洒落文具としての人気も高いハンコですが、どんなにカジュアルになろうとハンコはハンコ。その法的効力についてしっかりと理解して使うことが大切です。
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
