main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu ビジネス
      span.date 2017年11月28日
      .sns-area
    h2.article-title
      span.sub-title 地名を歩く
      | 黄金の国ジパングは本当だった！金の産地を示す地名
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 雑学家 古川 愛哲（ふるかわ あいてつ）
        p.writer-profile
          | 1949年、神奈川県に生まれる。日本大学芸術学部映画学科で映画理論を専攻。放送作家を経て、『やじうま大百科』(角川文庫)で雑学家に。「万年書生」と称し、東西の歴史や民俗学をはじめとする人文科学から科学技術史まで、幅広い好奇心を持ちながら「人間とは何か」を追求。著書に『「散歩学」のすすめ』（中公新書クラレ）、『江戸の歴史は大正時代にねじ曲げられた サムライと庶民365日の真実』（講談社プラスα新書）などがある。
        p.writer-website
          a(href="" target="_blank") 著者サイトへのリンク
    .main-image
      p
        img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
    section.text
      h3 「カノウ」「フク」がつく地名は金山の名残
      p
        | 奥多摩に行ったとき、湖のほとりの郷土資料館を見て驚いた。産地特有の農具の中に、妙な格好をしたザルのようなものがあり、説明には農民たちが、
      p
        | 「川から砂金を採取するときに使った」
      .clearfix
        figure(class="figure-half figure-left")
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure01" alt="")
        p
          | とこともなげに書いてあった。
          br
          | それほどさように砂金などありふれたものだったようで、なるほど日本列島の鉱山地図を見ると、無数と言えるほど産金ポイントが記されている。したがって、地名もまた産金と関わるものが多い。
        p
          | 例えば、伊豆半島を流れる「狩野川」がある。「狩野」は「カノウ（金鋳＝金を鋳る）」の訛語で、流域には「大仁金山」「湯ヶ嶋金山」「修善寺」と目白押しだが、付近には「縄地」「土肥」の両金山もある。
          br
          | カノウは「狩野」「鹿納」「叶」などの字を当てるが意味は同じ「金鋳」で、宮崎県西臼杵郡の大福銀山があるのも鹿野山である。
        p
          | 大福銀山の「フク」という字にも注目。フクは精錬を意味する「吹く」で、会津若松東山の金山跡は「吹屋山」だが、好字を当て「福」（長野県東筑摩郡保福寺金山）、「蕗」（山形県大石田町次年子蕗取場）、フクが転じて「瓢（ふくべ）」（岐阜県高賀山系の瓢ヶ岳は山麓に銅山）になっている地名もある。
    section.text
      h3 もっとストレートに「金沢」「金山」というのも。
      p
        | 八ヶ岳連峰西側の長野県茅野市「金沢」は武田信玄が開発した「金鶏金山」。長野県東筑摩郡四賀村金山町もかつては金山だったが江戸時代には鉛しか採れなくなった。
      figure(class="figure-full")
        img(src="http://via.placeholder.com/1200x700/bbb/fff/?text=figure02" alt="")
        figcaption
          | 上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。
      p
        img(src="" alt="" class="image image-left")
        | これは鉱床の上部に金や銀があって、下に下がるほど銅などの諸金属となり、最下部に鉛があるため。金銀銅など鉱山はどれも同じで、その産出量が経済的に見合うかどうかに過ぎない。
    section.text
      h3 「カリ」（＝古代朝鮮語で刃物を意味）、「オタ」（＝古アイヌ語で砂を意味）
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      .clearfix
        figure.figure-half.figure-right
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure03" alt="")
        p
          | 「カリ」や「カル」の地名も金銀銅と関係する。
      p
        img(src="" alt="" class="image image-left")
        | カリは古代朝鮮語で刃物を意味する。それが地名になると、「雁坂峠」。秩父と甲府盆地を結ぶ古道で、日本武尊（ヤマトタケルノミコト）が歩いた道だが、この付近には金山沢があり、妙法鉱山があった。
        br
        | 鉱山だから刃物は必要で、カリはいろいろな字が当てられている。
      p
        | 「雁寄山」は東京都あきる野市五日市にある山だが、その南面直下に武田信玄が掘ったという金鉱「金穴（カンナ）」。そう、「カンナ（金穴）」「カンバ（金場・干場）」も金精錬の地名で、そうした土地には「バン（鉱脈）」が走っている。
      p
        | さて、カリがカルに訛って、「軽井沢銀山」（福島県）、「軽井沢金山」。それが秋田弁で訛って「ガル」となり、「柄井沢」は金山沢と呼ばれる犀川に沿っていて、上流には大葛（オオクゾ）金山がある。カル、カリのつく地名は金属と関わる。
      p
        | 古アイヌ語に由来すると思われる産金地名もある。今でも砂を意味するオタは、かつて砂金が採れたらしい。
      p
        | 東北地方のオタには「小田」の字を当てている。
        br
        | 天平産金の地で、東大寺大仏の鍍金に献上された宮城県遠田郡は、もと小田郡。仙台市の広瀬川から砂金が採れる「小田原」。佐渡相川町小田は相川金山がある。山梨県金峰山の黒川金山は小田谷にあり、滋賀県・京都府の境にも金属鉱脈が走っているが、そこにも小田原がある。
      p
        | カニも金を意味するが、山奥に田でもない蟹田は、砂金が採れたりする。東北地方に蟹田の名が散見するが、平安時代の遣唐使を派遣するために陸奥黄金の献金などが大いに役立っている事実がある。
      p
        | ◆金の産地の関わる地名いろいろ
        | 狩野、鹿納、叶、鹿野←カノウ（金鋳＝金を鋳る）
        | 吹、福、蕗（ふき）、瓢（ふくべ）←フク（吹く＝精錬を意味）
        | 金山、金沢
        | 雁、刈←カリ（古代朝鮮語で刃物を意味）
        | 軽井沢（カリがカルに訛って）、柄井沢（カルがガルに訛って）
        | 金穴（かんな）、金場・干場（かんば）
        | 小田、小田原←オタ（古アイヌ語で砂を意味）
        | 蟹田←カニ（古アイヌ語で金を意味）
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
