main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu 法務
      span.date 2017年12月2日
      .sns-area
    h2.article-title
      span.sub-title この起業家精神が活路を拓く
      | 中小企業は規模より〝質〟で勝負！
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 経営ジャーナリスト 疋田文明
          span.office （経営ジャーナリスト・元気塾主宰）
        p.writer-profile
          | 1950年奈良県に生まれる。企業経営者を対象とした各種セミナーの企画・運営会社、新しい経営者像の会（理事長・石山四郎）を経て、1979年に「竹村健一未来経営研究会」を企画設立し事務局長に就任。1986年に独立後はフリーランスのライターとして、企業経営、地域活性化の現場を歩き、取材を重ねる。現在は『元気塾』（経営者を対象）と『実践経営塾』（これから経営を担う人が対象）を主宰し、元気印の企業が増えることを願って活動中。
        p.writer-website
          a(href="http://www.hikita10.jp/profile.php" target="_blank") 疋田文明Official Site
    section.text
      h3 小さいから、一専多能な人材が育つ
      p
        | 人材についてはどうか。
        br
        | 確かに一流大学で教育を受けたのをいい人材とするなら、中小企業にはハンディがある。しかし、学歴と仕事力は全く関係ないといってもいい。
        br
        | 自社の仕事に真面目に、意欲的に取り組んでくれる人材なら、中小企業にも数多くいるはずだ。
      .clearfix
        figure.figure-half.figure-right
          img(src="/images/common/730x425_06.jpg" alt="")
        p
          | それに、中小企業には「人材が育つ土壌」がある。大企業の幹部社員から中小企業に転じたある経営者が、
        p
          img(src="" alt="" class="image image-left")
          | 「疋田さんがいうように、中小企業はおもしろい。中小企業は中身で大企業に勝てるし、その原動力になるのが人材だ。中小企業は、一専多能な人材が育つ可能性を秘めている」
      p
        | と語ったことを思い出す。
        br
        | 大企業では、一つの専門分野を持つ優秀な人材は多い。与えられた仕事で結果は出すが、それだけだと、先の経営者は指摘しいていた。
      p
        | どんな企業でも、いくつかの課業がある。一つひとつは分離独立しているわけではなく、すべて相互に作用しあっているのが企業だ。
        br
        | 中小企業でも、それぞれの担当はあるだろうが、狭いスペースで、いくつかの部門が同居して仕事をしている。必然的に他部門の仕事を見る機会も多い。
      p
        | 仕事は見ることで覚えることが多くある。
        br
        | それだけに、自分の専門分野だけでなく、多くの能力を身に付けるチャンスが、中小企業にはあるのだ。
      p この土壌を活かせば、中小企業は人材で大企業に負けることはない、と筆者は信じている。
      p
        | 一見ハンディに思える資金力、人材の不足に目を向けるよりも、中小企業の強みに目を向けて欲しいと思う。
    .pager
      ul
        li
          a(href="01.html") 1
        li
          a(href="01_02.html") 2
        li.current
          a(href="01_03.html") 3
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
