main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.zeimu 税務
      span.date 2017年12月1日
      .sns-area
    h2.article-title
      span.sub-title この起業家精神が活路を拓く
      | 得手分野を見定め、極めれば、アリも巨象に勝つ
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 経営ジャーナリスト 疋田文明
          span.office （経営ジャーナリスト・元気塾主宰）
        p.writer-profile
          | 1950年奈良県に生まれる。企業経営者を対象とした各種セミナーの企画・運営会社、新しい経営者像の会（理事長・石山四郎）を経て、1979年に「竹村健一未来経営研究会」を企画設立し事務局長に就任。1986年に独立後はフリーランスのライターとして、企業経営、地域活性化の現場を歩き、取材を重ねる。現在は『元気塾』（経営者を対象）と『実践経営塾』（これから経営を担う人が対象）を主宰し、元気印の企業が増えることを願って活動中。
        p.writer-website
          a(href="http://www.hikita10.jp/profile.php" target="_blank") 疋田文明Official Site
    .main-image
      p
        img(src="/images/top/slides_01.jpg", alt="")
    section.text
      h3 他社を寄せ付けない「錐型経営」のススメ
      p
        | 規模が大きいことだけが勝者の条件ではない。資本力に劣る中小企業でも、大企業に勝つことができる。
        br
        | ただし、中小企業が大企業に中身で勝つためには、条件がある。
      p
        | それは、中小企業の強みを生かし、大企業と同じ戦略、戦術を取らないことだ。その上で、得手の分野に事業領域を絞り込み、徹底して深掘りしていけば、間違いなく中小企業は中身で大企業に勝つことができる。
      .clearfix
        figure(class="figure-half figure-left")
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure01" alt="")
        p
          | 小売業のしまむらがいい例だ。同社は、小商圏に的を絞り込み、自社の扱い商品で高いシェアを取ることで成功を手にしているが、この戦術は製造業にも通用する。
          br
          | マブチモーターと島精機製作所は、いまでこそ堂々たる一部上場企業だが、創業時は小さな町工場にすぎなかった。それが、マブチモーターは小型直流モーター、島精機製作所は自動編み機に的を絞り込み、それぞれの事業領域で高いシェアを取るとで今日の地位を築き上げたのだ。
        p 　マブチモーターの馬渕隆一名誉会長は、ものづくりの中小企業に対して「錐型経営で勝ち残れ」と、次のようなアドバイスを送っている。
        p
          | 「中小企業の場合には、経営資源が限られていますから、あれもこれもやろうとすると、力が分散してしまい、競争力のないものになってしまうのです。１本の錐の上だと、ちょっとのっかかっただけで刺さってしまうが、剣山の上は歩けますよ。
          br
          | マブチは、小型直流モーターに特化して、深く掘り進んで極めたから勝てたのではないでしょうか。
          br
          | 得手の分野に的を絞り込んで、錐のように深く掘り進んでいけば、そこまで行った会社にしか見えないものが見えてくるようになる。これは神の領域としか思えない。そこまでいけば、国内のマーケットだけではなく、世界に売れるようになるのです」
        p 現実に、マブチモーターは、創業以来得手とする小型直流モーターを深掘りすることで、その事業領域で世界中にクライアントを広げ、トップメーカーになったのである。
        p コンピュータ制御の横編み機で、世界シェア60％を誇る島精機製作所も、マブチモーターと同様に得手の分野（横編み機）を深掘りすることで、今の地位を手にした会社だ。
        p 創業者の島正博は、機械いじりが大好きで、小学生高学年の頃から、自宅隣にあった軍手編み機の修理工場に出入りして、機械に対する興味を深めていった。高校時代には、興味があるままに「ノズルのつまらない噴霧器」「冷めにくい弁当箱」「自転車の発電ランプをワンタッチで動かすレバー」等々、いろいろなものを発明しては楽しんでいた。
        p
          | そんな島を見ていた恩師が、
          br
          | 「島くん、何でもかんでも発明していたら器用貧乏になってしまう。専門分野を絞って、それに徹したほうがいい」
          br
          | とアドバイスしてくれた。
        p 
          | このアドバイスを受け入れた島は、その後は手袋の編み機に的を絞り込んで、発明を重ね、昭和36年、手袋の半自動編み機を製造する会社を設立している。

    section.text
      h3 中小でも勝てる市場を探せ
      p
        | 筆者は、島ほどの発明の才能があれば、編み機以外の分野でも成功できたと思い、なぜ手袋の編み機だったのか、と質問したことがあるのだが、そのときの答えは次のようなものだった。
      figure(class="figure-full")
        img(src="http://via.placeholder.com/1200x700/bbb/fff/?text=figure02" alt="")
        figcaption
          | 上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。
      p
        img(src="" alt="" class="image image-left")
        | 「昭和30年代の花形は、家電業界でしたが、そういう分野では毎年新しい商品がどんどん出てきて、進化するばかりでした。そんな業界では経営資源の乏しい後発メーカーでは難しいでしょう。
        br
        | ところが手袋の編み機は、日本に入ってきて70数年間、一つも進んでいなかったのです。この分野なら、自分でも勝ち目はあるだろうと考えたのです」
      p
        | 手袋の半自動の編み機でスタートした島は、３年後には全自動の手袋編み機の開発に成功。その後チャレンジしたのは、ニット業界向けの横編み機の開発だった。その理由が実に単純で面白い。
        br
        | 手袋の親指と小指を袖と考え、真ん中の３本の指を一つにして胴体部分と捉えて先を切れば、セーターができると考えたのだという。
      p
        | 当時、横編み機は、ヨーロッパの機会が業界を席巻していたが、島の目から見れば、群を抜いた機械はなかった。そこで島は、横編み機への進出に際し、一番困難だといわれていた「襟編み機」の開発に挑戦したのだ。
      p
        | 結果、ヨーロッパ製では１枚の襟を編むのに12分かかっていたのを、島は５分で編める機械の開発に、昭和42年に成功している。
      p その後も横編み機を深掘りし、昭和53年には、生産工程全般をコンピュータで制御する編み機を世界に先駆けて開発。その後も改良に改良を重ね、今では世界で60％のシェアを占めるまでになっている。
      p 　しかし、ここまできても、島には不満があった。それは、最終製品にするには、縫製作業が残るということだった。人件費はかかるし、縫製すれば裏地に縫い代ができて着心地感が悪いし、重くもなる。
      p そこで島が目指したのは、一切縫製することなく、糸から一気に三次元のニット製品を編み上げる機械の開発だった。
      p
        | この機械の開発には1995年（平成７）に成功し、『ホールガーメント』の名で販売されたのだが、欧米のニットメーカーからは「東洋のマジック」と称されるほどに高い評価を得たものだった。
        br
        | しかし、島は今なお満足することなく、『ホールガーメント』を進化させ続けている。
    section.text
      h3 地域に深化し、〝量より質〟で事業を拡大
      p
        | 小売業にも、沖縄のサンエーのように、得手の分野を深掘りすることで、大企業に中身で打ち勝った例がある。
        br
        | サンエーの2017年２月期決算は、年商1802億円、経常利益154億円というものだった。経常利益率が３％を超えれば優良といわれる総合小売業で、８％超の経常利益を上げているのだから、素晴らしいというほかはない。
      .clearfix
        figure.figure-half.figure-right
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure03" alt="")
        p
          | eeeeee
      p
        img(src="" alt="" class="image image-left")
        | サンエーの店舗は沖縄にしかない。それだけに、沖縄の流通事情を知らない人たちは、本土の大手量販店が進出してきていないから、サンエ―は好業績を上げることができると考えるかもしれないが、それは違う。
      p
        | 1975年、当時三越を抜いて日本一の小売業者になったダイエー（沖縄の法人名は「ダイハナ」）が沖縄に進出、１店舗で65億円売り上げた。
        br
        | サンエーの年商はわずか26億円に過ぎず、巷ではサンエーはダイエーによって潰されるのではないかとの噂が立った。
      p
        | ところが現実は逆になった。1986年、サンエーは年商230億円を上げ、その時点でダイエーの売上200億円を抜いて、沖縄一の小売業者になったのである。
        br
        | 1993年には、イオングループが進出し、積極的に店舗展開を進めているが、今なおサンエーの牙城は揺らいでいない。
      p
        | なぜサンエーは、大手量販店との熾烈な競争に負けず、沖縄小売業ナンバーワンの地位を手にすることができたのか？
      p それはひとえに、期せずして、マブチモーター、島精機製作所と同様に、得手の分野を深掘りしてきた結果だと、筆者は考えている。
      p サンエーの得手の分野は何なのか。それは、沖縄の大衆相手のビジネスだ。
      p
        | 最初はアパレルからスタートしたサンエーは、生活雑貨、食品、外食、家電等々と、沖縄の大衆相手に事業領域を広げてきたが、量を追いかけることはしなかった。
        br
        | 既存の事業領域で確たる実績を残した上で、自分たちのノウハウを活かせば勝てる分野に進出していったのであるが、すべて沖縄での展開である。
      p 沖縄に進出してきたイオンとサンエー双方と付き合いのある人に、圧倒的に規模の大きなイオンが、沖縄ではなぜサンエーに勝てないのだろうか、と聞いたことがある。そのとき、
      p 「イオンは千葉の幕張（本部）ばかりを見ているが、サンエーは、地元のことだけを考えている。この差は大きいと思う」
      p との答えが返ってきた。
      p 自社が知り尽くす沖縄の大衆相手に、ひたすらそのニーズに応えるように深掘りしてきたから、大手にも負けなかったのだ。
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
