footer#footer
  .footer-contents
    ul.bottom-navigation
      li
        dl
          dt 法務
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
      li
        dl
          dt 税務
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
      li
        dl
          dt 労務
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
      li
        dl
          dt スキル
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
      li
        dl
          dt ビジネス
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
      li
        dl
          dt 基礎知識
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
      li
        dl
          dt 専門家コラム
          dd
            ul
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
              li
                a(href="#") ○○○
    .bottom-asidenavi
      ul
        li
          a(href="#") 本サイトについて
        li
          a(href="#") お問い合わせ
        li
          a(href="#") サイトマップ
        li
          a(href="#") プライバシーポリシー
  .copyright
    p Copyright &copy; 2017 xxxxxxx xxxxx
