h2 おすすめ
ul.recommend-articles
  each post in data.recommend.results
    li
      a(href='/blog/post/' + post.slug)
        if post.image.exists
          img(src=post._.image.fit())
        span= post.title