h2 関連記事
ul.related-articles
  if data.relates
    each post in data.relates.results
      li
        a(href='/articles/' + post.categories[0].key + '/' + post.slug)
          if post.image.exists
            img(src=post._.image.thumbnail(230,173))
          span #{post.title}
