h2 関連記事
ul.related-articles
  li
    a(href="/article.html")
      img(src="/images/common/230x173_02.jpg", alt="")
      span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
  li
    a(href="#")
      img(src="/images/common/230x173_06.jpg", alt="")
      span 「億り人」になる最後の決め手は、知識でも初期資金量
  li
    a(href="#")
      img(src="/images/common/230x173_04.jpg", alt="")
      span 元銀座No.1ホステスが教える「また会いたい」のはこんな人
