doctype html
html(lang="ja")
  head
    include ../../inc/_meta
    // OGP
    // /OGP
    title 押印と捺印、記名と署名はどう違う？ | 実務家Link
    //- link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    link(rel="stylesheet" href="/styles/style.css")
  body
    // ヘッダー
    include ../../inc/_header
    // /ヘッダー
    // パンくず
    #breadCrumb
      ul
        li
          a(href="") ホーム
        li
          a(href="") スキル
        li.current
          span 押印と捺印、記名と署名はどう違う？
    #contents.clearfix
      // メインコンテンツ
      .main-contents
        include ../../inc/article/_article04
      // サイドコンテンツ
      .side-contents
        include ../../inc/_side
    // /contents
    include ../../inc/_footer
    script(type="text/javascript", src="/scripts/script.js")
